p {
  font-family: Lato;
}

  button{
    
    width:30%;
    margin-left:40%;
    margin-right:50%;
    margin-top:15%;

}
.divv{
  border: 1px solid ;
  border-color: rgb(4, 15, 20);
}
a:link{
  text-decoration: none;
  
}
a:hover,a:active{
  color:white;
  background-color: green;
}
h2{
  text-align: center;
  background-color: green;
}